<p id="notice"><%= notice %></p>
   <%= render @blogs%>
   <%= paginate @blogs , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
   
<br>
<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>