<br>
<div class="card">
  <div class="card-block">
    <h1>Would you like to work together?</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Office Address</h3>
        <p>Krong Siem Reap, Cambodia</p>
        <h3>Phone</h3>
        <%= number_to_phone "(+855)70243212"%>
        <h3>Email</h3>
        <p ><a href="mailto:traivanit@gmail.com?subject=PortfoiloContact" "email me" class="btn btn-info">Email me</a></p>
      </div>
      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248457.9087794645!2d103.72286746408219!3d13.340643536859789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3110169a8c91a879%3A0xa940aaf93ee5bbfa!2sKrong+Siem+Reap!5e0!3m2!1sen!2skh!4v1543564672498" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


        
      </div>
    </div>
  </div>
</div>